.play-sidebar {
  width           : 300px;
  height          : 100%;
  display         : flex;
  flex-direction  : column;
  padding         : 10px;
  background-color: #394B59;
  border-left     : 1px solid #394B59;
  align-items     : center;

  .sidebar-header {
    width          : 100%;
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .header-image {
      width        : 180px;
      height       : 180px;
      object-fit   : cover;
      overflow-y   : hidden;
      margin-bottom: 10px;
    }

    .lobby-button {
      position: absolute;
      right   : 0px;
      top     : 0px;
    }
  }

  .toggle-button-group {
    margin-bottom: 10px;
    width        : 200px;
  }

  .list-container {
    background-color: #202B33;
    border-radius   : 8px;
    padding         : 5px;
    overflow-y      : scroll;
    width           : 100%;
    flex-grow       : 1;
    border          : 1px solid #202B33;
    color           : #F5F8FA;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background   : #182026;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background   : #30404D;
      border-radius: 20px;
    }

    .player-row {
      font-family  : dinNextBold;
      font-size    : 16px;
      margin-bottom: 5px;

      .player-name {
        margin-left: 10px;
        font-family: dinNextRegular;
      }
    }

    .event-child:not(:last-child) {
      margin-bottom: 10px;
    }

    .play-message-container {
      .message-author {
        font-family  : dinNextBold;
        font-size    : 16px;
        margin-bottom: 3px;
        display      : flex;
        align-items  : center;

        .message-author-text {
          margin-left: 10px;
        }
      }

      .message-body {
        font-family  : dinNextRegular;
        font-size    : 16px;
        margin-left  : 10px;
        margin-bottom: 3px;
      }
    }

    .game-event-message {
      font-family: dinNextBoldItalic;
      font-size  : 16px;
      color      : #BFCCD6;
    }
  }

  .message-input-area {
    margin-top     : 10px;
    height         : 100px;
    width          : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    .message-input {
      height          : 100%;
      width           : 100%;
      outline         : none;
      resize          : none;
      border          : 1px solid #202B33;
      background-color: #202B33;
      color           : #F5F8FA;
      font-family     : dinNextRegular;
    }

    .message-send {
      height : 100%;
      outline: none;
    }
  }
}