@import '~@blueprintjs/core/dist/variables';

.home-container {
  @media (max-width: 700px) {
    margin: 10 auto;
    width: 90%;
  }
  @media (min-width: 700px) {
    margin: 60px auto;
    width: 65%;
  }
  .menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu-item {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $black;
      &:hover {
        text-decoration: none;
        color: $blue1;
      }
      > .link {
        color: $black;
        font-size: 100px;
        &:hover {
          text-decoration: none;
          color: $blue1;
        }
      }
    }
  }
}