@import '~@blueprintjs/core/dist/variables';

.brand-link {
  font-size: 24px 
}

.pt-app {
  overflow-x: auto;
  padding-top: $pt-navbar-height;
  > div {
    margin: 0 auto;
    width: 80%;
  }
}

.tarot-navbar {
  z-index: 20;
}