@import '~normalize.css';
@import '~@blueprintjs/core/dist/blueprint.css';
@import '~plottable/plottable.css';
@import './containers/addPlayer/AddPlayerContainer.scss';
@import './containers/app/AppContainer.scss';
@import './containers/home/HomeContainer.scss';
@import './containers/enter/EnterContainer.scss';
@import './containers/login/LoginContainer.scss';
@import './containers/game/GameContainer.scss';
@import './containers/recent/RecentContainer.scss';
@import './containers/records/RecordsContainer.scss';
@import './containers/results/ResultsContainer.scss';
@import './containers/search/SearchContainer.scss';
@import './containers/player/PlayerContainer.scss';
@import './containers/playerSelector/PlayerSelector.scss';
@import './components/spinnerOverlay/SpinnerOverlay.scss';
@import './components/gameTable/GameTable.scss';
@import './components/forms/GameForm.scss';
@import './components/forms/AddPlayerForm.scss';
@import './components/toaster/Toaster.scss';
@import './components/player/PlayerBanner.scss';
@import './components/player/PlayerGraphContainer.scss';
@import './components/results/ResultsGraphContainer.scss';
@import './components/graphs/ResultsGraph.scss';
@import './components/forms/Elements.scss';
@import './components/scoreTable/ScoreTable.scss';

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  p {
    font-size: 14px;
    color: #182026;
  }
}

@media (max-width: 700px) {
  .hide-on-small {
    display: none;
  }
  .pt-dialog.pt-overlay-content {
    width: 95%;
  }
}

p, span.text, .pt-label, td {
  font-family: dinNextRegular;
}

span.bold {
  font-family: blenderProBold;
}

h1, h2, h3, h4, h5 {
  font-family: blenderProBold;
}

h6 {
  font-family: blenderProMediumItalic;
}

th {
  font-family: blenderProBold;
  font-size: 18;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: blenderProBold;
  margin-bottom: 20;
  color: #F5F8FA;
  @media (max-width: 700px) {
    font-size: 48px;
  }
  @media (min-width: 700px) {
    font-size: 82px;
  }
  padding-bottom: 0;
  margin-bottom: 0;
}

.logo.dark {
  color: black;
}

.subtitle {
  font-size: 12;
  font-family: dinNextItalic;
  margin-bottom: 50;
  color: #F5F8FA;
}

.subtitle.dark {
  color: black;
}

.page-container {
  @media (max-width: 700px) {
    margin: 10 auto;
    width: 90%;
  }
  @media (min-width: 700px) {
    margin: 60 auto;
    width: 80%;
  }
}

.table-container {
  overflow-x: scroll;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
}
.table-container::-webkit-scrollbar{width:0px}

.pt-tab-list {
  overflow-x: scroll;
  -ms-overflow-style:none;
  overflow:-moz-scrollbars-none;
}
.pt-tab-list::-webkit-scrollbar{width:0px}

.pt-input {
  -webkit-appearance: none;
}
