@import '~normalize.css';
@import '~@blueprintjs/core/dist/blueprint.css';
@import './components/forms/Elements.scss';
@import './containers/RootContainer.scss';
@import './containers/home/HomeContainer.scss';
@import './containers/enter/EnterContainer.scss';
@import './containers/game/GameContainer.scss';
@import './containers/results/ResultsContainer.scss';
@import './containers/playerSelector/PlayerSelector.scss';
@import './components/spinnerOverlay/SpinnerOverlay.scss';
@import './components/gameTable/GameTable.scss';
@import './components/forms/GameForm.scss';
@import './components/forms/AddPlayerForm.scss';
@import './components/toaster/Toaster.scss';

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  p {
    font-size: 14px;
    color: #182026;
  }
}

@media (max-width: 700px) {
  .hide-on-small {
    display: none;
  }
  .pt-dialog.pt-overlay-content {
    width: 95%;
  }
}