.player-view-container {
  
  .player-tabs {
    background-color: #F5F8FA;
    padding: 10;
    .pt-tab {
      font-family: blenderProBold;
      font-size: 18;
    }
  }

  #player-graph {
    background-color: #FFFFFF;
  }
}