.header {
  position: fixed;
  background-color: white;
  width: 100vw;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-dark-4);
  z-index: 10;
}

.link {
  display: flex;
  flex-direction: row;
}

.inner {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
